* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #F9EAE1;
    font-family: 'EB Garamond', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #8A5657;
    height: 66px;
    text-decoration: none;
}

header * {
    color: #F9EAE1;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 15px;
    font-family: 'Yeseva One', serif;
    text-decoration: none;
}

header .logo-text a {
    text-decoration: none;
}

header .logo-text span {
    color: #CC8B86;
}

header .nav {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header .nav li {
    float: left;
}

header .nav li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header .nav li a:hover {
    background: #6b4243;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #AA998F;
    height: 66px;
    position: relative;
    bottom: 0;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

footer p, footer a {
    text-decoration: none;
    color: #F9EAE1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px){
    header {
        position: relative;
    }
    
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo {
        margin-left: .5em;
    }
    
    header .logo-text {
        font-size: 1.5em;
        margin: 20px;
    }

    #hamburger-nav {
        display: none;
        position: fixed;
        top: 65px;
        background-color: #8A5657;
        margin: 0;
        width: 100%;
        justify-content: center;
        list-style: none;
        flex-direction: column;
        gap: 2px;
        padding: 5px;
    }
    
    #hamburger-nav li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #hamburger-nav li a {
        text-decoration: none;
        font-size: 1.5em;
        width: 100%;
        align-content: center;
        justify-content: center;
        background: #6b4243;
    }
}

.page ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

.page ul li {
    float: left;
}

.card {
    width: fit-content;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}

.card-title {
    margin-left: 30px;
}

.card img {
    width: 200px;
    border: 3px solid #CC8B86;
    padding: 0;
}

.page a {
    text-decoration: none;
    color: black;
}

h3 {
    padding: 0;
    margin-top: 0;
}

.card-holder p {
    margin-top: -20px;
    font-size: .8em;
}



