body {
    margin: 0;
    font-family: 'Playpen Sans', cursive;
    background-color: #cbb89d;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 35px;
    background-color: #6A6F4c;
}

footer {
    display: flex;
    background-color: #4d626f;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

.name, .about-me, .linkedin, .email {
    color: white;
    text-decoration: none;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.about-me {
    font-size: 20px;
}

.linkedin, .email {
    font-size: 15px;
}

.body p {
    font-size: 500px;
}



.selection-menu {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.card {
    border: 1px solid blue;
    padding: 20px;
    width: fit-content;
}

.preview-img {
    height: 200px;
    width: auto;
}
