body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: #FFE3BF;
}

.nav {
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 35px;
    background-color: #B7B070;
}

footer {
    position: static;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

.name, .about-me, .linkedin, .email {
    color: #2A304A;
    text-decoration: none;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.about-me {
    font-size: 20px;
}

.linkedin, .email {
    font-size: 15px;
}

.body p {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #2A304A;
}

.contents {
    font-size: 20px;
    margin-left: 50px;
    margin-trim: 20px;
}

h2 {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    color: #2A304A;
}

.reading-info {
    font-size: 15px;
    color: #646c8c;
    margin-left: 30px;
}
