body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background-color: #FFE3BF;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 35px;
    background-color: #B7B070;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

.name, .about-me, .linkedin, .email {
    color: #2A304A;
    text-decoration: none;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.about-me {
    font-size: 20px;
}

.linkedin, .email {
    font-size: 15px;
}

.body p {
    font-size: 500px;
}
